Data
FinalResults_ModelA
FinalResults_ModelB
Results_ModelA
Results_ModelB
results_not_used
Results_Model_A
Results_Model_B
Assets
Results_Baseline_CV
baseline copy.py
baseline copy 2.py
baseline.py
baseline_5fold.py
generating_results_tables copy.ipynb
